<%= render 'header' %>

<div class="container">
  <div class="entry_container">
    <article class="entry_list">
      <% @entries.each do |entry| %>
        <section class="entry">
          <div class="entry_header">
            <div class="entry_user_icon_area">
              <%= link_to user_path(entry.user_id) do %>
                <% if entry.user.user_image.blank? %>
                  <%= icon 'fas', 'user-circle', class: 'user_icon entry_user_icon' %>
                <% else %>
                  <%= image_tag entry.user.user_image.url, class: 'user_icon entry_user_icon' %>
                <% end %>
              <% end %>
            </div>
            <div class="entry_user_name emphasis">
              <%= link_to user_path(entry.user_id) do %>
                <%= entry.user.user_name %>
              <% end %>
            </div>

            <% if current_user.id == entry.user_id %>
              <div class="entry_edit">
                <%= link_to edit_entry_path(entry.id) do %>
                  <%= icon 'fas', 'pen', class: 'space entry_menu_icon' %>
                <% end %>
              </div>
              <div class="entry_delete">
                <%= link_to entry_path(entry.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } do %>
                  <%= icon 'fas', 'trash', class: 'space entry_menu_icon' %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="entry_image">
            <%= image_tag entry.image.url %>
          </div>

          <div class="entry_menu">
            <div class="entry_good">
              <% good = current_user.goods.find_by(entry_id: entry.id) %>
              <% if good.blank? %>
                <%= link_to goods_path(entry_id: entry.id), method: :post do %>
                  <%= icon 'far', 'heart', class: 'space entry_addition_icon' %>
                <% end %>
              <% else %>
                <%= link_to good_path(id: good.id), method: :delete do %>
                  <%= icon 'fas', 'heart', class: 'space entry_addition_icon heart_icon' %>
                <% end %>
              <% end %>
            </div>
            <div class="entry_show">
              <%= link_to entry_path(entry.id) do %>
                <%= icon 'far', 'comment', class: 'space entry_addition_icon' %>
              <% end %>
            </div>
            <div class="entry_bookmark">
              <% bookmark = current_user.bookmarks.find_by(entry_id: entry.id) %>
              <% if bookmark.blank? %>
                <%= link_to bookmarks_path(entry_id: entry.id), method: :post do %>
                  <%= icon 'far', 'bookmark', class: 'space entry_addition_icon' %>
                <% end %>
              <% else %>
                <%= link_to bookmark_path(id: good.id), method: :delete do %>
                  <%= icon 'fas', 'bookmark', class: 'space entry_addition_icon' %>
                <% end %>
              <% end %>
            </div>
          </div>

          <% good_users = entry.good_users %>
          <% if good_users.present? %>
            <div class="goods_count_area emphasis">
              <span class="goods_count space">
                <%= "いいね！#{good_users.count}件" %>
              </span>
            </div>
          <% end %>

          <% if entry.content.present? %>
            <div class="entry_content">
              <div class="entry_content_left emphasis name_space">
                <%= link_to user_path(entry.user_id) do %>
                  <%= entry.user.user_name %>
                <% end %>
              </div>
              <div class="entry_content_right comment">
                <%= entry.content %>
              </div>
            </div>
          <% end %>

          <% replies = @all_reply.where(entry_id: entry.id) %>
          <% if replies.present? %>
            <div class="replies">
              <% replies.each do |reply| %>
                <div class="reply_content">
                  <div class="reply_header">
                    <div class="reply_name emphasis name_space">
                      <%= link_to user_path(reply.user_id) do %>
                        <%= reply.user.user_name %>
                      <% end %>
                    </div>
                    <div class="reply_comment comment">
                      <%= reply.content %>
                    </div>
                    <div class="reply_good">
                      <% rep_good = current_user.reply_goods.find_by(reply_id: reply.id) %>
                      <% if rep_good.blank? %>
                        <%= link_to reply_goods_path(reply_id: reply.id), method: :post do %>
                          <%= icon 'far', 'heart', class: 'reply_heart_icon reply_heart_before' %>
                        <% end %>
                      <% else %>
                        <%= link_to reply_good_path(id: rep_good.id), method: :delete do %>
                          <%= icon 'fas', 'heart', class: 'reply_heart_icon heart_icon' %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="entry_time_area">
            <span class="entry_time">
              <%= time_ago_in_words(entry.created_at)+'前' %>
            </span>
          </div>

          <div class="reply_form_area">
          <%= form_with(model: @reply, local: true) do |f| %>
            <%= f.hidden_field :entry_id, value: entry.id %>
            <div class="reply_form">
              <div class="reply_form_content">
                <%= f.text_field :content, placeholder: 'コメントを追加...' %>
              </div>
              <div class="reply_form_submit">
              <%= f.submit '投稿する', class: 'reply_btn_submit' %>
              </div>
            </div>
          <% end %>
          </div>
        </section>
      <% end %>
    </article>
  </div>

  <div class="user_area">
    <div class="user_area_icon">
      <%= link_to user_path(current_user.id) do %>
        <% if current_user.user_image.blank? %>
          <%= icon 'fas', 'user-circle', class: 'user_icon userarea_user_icon' %>
        <% else %>
          <%= image_tag current_user.user_image.url, class: 'user_icon userarea_user_icon' %>
        <% end %>
      <% end %>
    </div>
    <div class="user_area_info">
      <div class="user_area_username emphasis">
        <%= link_to user_path(current_user.id) do %>
          <%= current_user.user_name %>
        <% end %>
      </div>
      <div class="user_area_name">
      <%= current_user.name %>
      </div>
    </div>
  </div>
</div>
