<header>
  <%= link_to entries_path do %>
    <%= icon 'fab', 'instagram' %>
    <%= '|' %>
    <%= image_tag 'https://fontmeme.com/permalink/200109/23a93f3d238949f77b4e6ed79577bcc1.png', class: 'header_logo' %>
  <% end %>

  <%= link_to 'new post',new_entry_path %>

  <%= link_to user_path(current_user.id) do %>
    <%= icon 'far', 'user' %>
  <% end %>
</header>

<article class="entry_list">
  <% @entries.each do |entry| %>
    <div class="entry">
      <%= link_to user_path(entry.user_id) do %>
        <% if entry.user.user_image.blank? %>
          <%= icon 'fas', 'user-circle' %>
        <% else %>
          <%= image_tag entry.user.user_image.url %>
        <% end %>
        <%= entry.user.user_name %>
      <% end %>

      <% if current_user.id == entry.user_id %>
        <%= link_to edit_entry_path(entry.id) do %>
          <%= icon 'fas', 'pen' %>
        <% end %>
        <%= link_to entry_path(entry.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } do %>
          <%= icon 'fas', 'trash' %>
        <% end %>
      <% end %>

      <div class="entry_image">
        <%= image_tag entry.image.url %>
      </div>

      <div class="entry_menu">
        <div class="entry_good">
          <% good = current_user.goods.find_by(entry_id: entry.id) %>
          <% if good.blank? %>
            <%= link_to goods_path(entry_id: entry.id), method: :post do %>
              <%= icon 'far', 'heart' %>
            <% end %>
          <% else %>
            <%= link_to good_path(id: good.id), method: :delete do %>
              <%= icon 'fas', 'heart' %>
            <% end %>
          <% end %>
        </div>
        <%= link_to entry_path(entry.id) do %>
          <%= icon 'far', 'comment' %>
        <% end %>
        <div class="bookmark">
          <% bookmark = current_user.bookmarks.find_by(entry_id: entry.id) %>
          <% if bookmark.blank? %>
            <%= link_to bookmarks_path(entry_id: entry.id), method: :post do %>
              <%= icon 'far', 'bookmark' %>
            <% end %>
          <% else %>
            <%= link_to bookmark_path(id: good.id), method: :delete do %>
              <%= icon 'fas', 'bookmark' %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="goods_count">
        <% good_users = entry.good_users %>
        <% if good_users.present? %>
          <%= "いいね！#{good_users.count}件" %>
        <% end %>
      </div>

      <% if entry.content.present? %>
        <div class="entry_content">
          <%= link_to user_path(entry.user_id) do %>
            <%= entry.user.user_name %>
          <% end %>
          <%= entry.content %>
        </div>
      <% end %>

      <% replies = @all_reply.where(entry_id: entry.id) %>
      <% if replies.present? %>
        <div class="replies">
          <% replies.each do |reply| %>
            <div class="reply_content">
              <%= link_to user_path(reply.user_id) do %>
                <%= reply.user.user_name %>
              <% end %>
              <%= reply.content %>
              <div class="reply_good">
                <% rep_good = current_user.reply_goods.find_by(reply_id: reply.id) %>
                <% if rep_good.blank? %>
                  <%= link_to reply_goods_path(reply_id: reply.id), method: :post do %>
                    <%= icon 'far', 'heart' %>
                  <% end %>
                <% else %>
                  <%= link_to reply_good_path(id: rep_good.id), method: :delete do %>
                    <%= icon 'fas', 'heart' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="entry_time">
        <%= time_ago_in_words(entry.created_at)+'前' %>
      </div>
    </div>

    <div class="reply_form">
      <%= form_with(model: @reply, local: true) do |f| %>
        <%= f.text_field :content, placeholder: 'コメントを追加...' %>
        <%= f.hidden_field :entry_id, value: entry.id %>
        <%= f.submit '投稿する' %>
      <% end %>
    </div>
  <% end %>
</article>

<div class="user_area">
  <%= link_to user_path(current_user.id) do %>
    <% if current_user.user_image.blank? %>
      <%= icon 'fas', 'user-circle' %>
    <% else %>
      <%= image_tag current_user.user_image.url %>
    <% end %>
  <% end %>
  <%= link_to user_path(current_user.id) do %>
    <%= current_user.user_name %>
  <% end %>
  <%= current_user.name %>
</div>
