<header>
  <%= link_to entries_path do %>
    <%= icon 'fab', 'instagram' %>
    <%= '|' %>
    <%= image_tag 'https://fontmeme.com/permalink/200109/23a93f3d238949f77b4e6ed79577bcc1.png', class: 'header_logo' %>
  <% end %>

  <%= link_to 'new post',new_entry_path %>

  <%= link_to user_path(current_user.id) do %>
    <% if current_user.id == @user.id %>
      <%= icon 'fas', 'user' %>
    <% else %>
      <%= icon 'far', 'user' %>
    <% end %>
  <% end %>
</header>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="now_user_image">
    <% if @user.user_image.present? %>
      <%= image_tag @user.user_image.url %>
    <% else %>
      <%= icon 'fas', 'user-circle' %>
    <% end %>
  </div>
  <div class="user_name">
    <%= @user.user_name %>
  </div>
  <div class="user_image_edit">
    <%= f.file_field :user_image %>
  </div>

  <table>
    <tr>
      <th>
        <%= '名前' %>
      </th>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <th>
        <%= 'ユーザーネーム' %>
      </th>
      <td>
        <%= f.text_field :user_name %>
      </td>
    </tr>
    <tr>
      <th>
        <%= 'メールアドレス' %>
      </th>
      <td>
        <%= f.email_field :email %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <%= f.submit '送信する' %>
      </td>
    </tr>
  </table>
<% end %>
