<%= render 'header' %>

<div class="container">
  <div class="user_container">
    <%= render 'user_header' %>

    <div class="user_detail_menu">
      <%= link_to user_path(@user.id), class: 'user_detail_all_post another_page' do %>
        <%= icon 'fas', 'th' %>
        <%= '投稿' %>
      <% end %>
      <%= link_to saved_user_path(@user.id), class: 'user_detail_saved now_user_page' do %>
        <%= icon 'far', 'bookmark' %>
        <%= '保存済み' %>
      <% end %>
    </div>

    <div class="user_detail_images">
      <% @images.each do |image| %>
        <div class="user_photo">
          <%= link_to entry_path(image.id) do %>
            <%= image_tag image.image.url %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
