<%= render 'header' %>

<div class="user_header">
  <div class="user_header_left">
    <% if @user.user_image.blank? %>
      <%= icon 'fas', 'user-circle', class: 'user_icon' %>
    <% else %>
      <%= image_tag @user.user_image.url, class: 'user_icon' %>
    <% end %>
  </div>
  <div class="user_header_right">
    <%= @user.user_name %>

    <% if current_user.id == @user.id %>
      <%= link_to edit_user_path(current_user.id) do %>
        <%= 'プロフィールを編集' %>
      <% end %>
      <%= link_to session_path(current_user.id), method: :delete, data: { confirm: 'ログアウトしてよろしいですか？' } do %>
        <%= icon 'fas', 'sign-out-alt' %>
      <% end %>
    <% end %>

    <%= "投稿#{@user.entries.count}件" %>
    <%= @user.name %>
  </div>
</div>

<div class="user_menu">
  <%= link_to user_path(@user.id) do %>
    <%= icon 'fas', 'th' %>
    <%= '投稿' %>
  <% end %>
  <%= link_to saved_user_path(@user.id) do %>
    <%= icon 'far', 'bookmark' %>
    <%= '保存済み' %>
  <% end %>
</div>

<div class="user_images">
  <% @images.each do |image| %>
    <div class="user_photo">
      <%= link_to entry_path(image.id) do %>
        <%= image_tag image.image.url %>
      <% end %>
    </div>
  <% end %>
</div>
